<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Carrinho</title>

</head>
<body style="display: flex; flex-direction: column; height: 100vh; margin: 0;">
<!-- Menu superior -->
<div class="navbar">
    <p>Loja</p>
    <div>
        <a href="/">Produtos</a>
        <a href="/cadastroProduto">Cadastro</a>
        <a href="/carrinho">Carrinho</a>
        <a href="/pedidos">Pedidos</a>
    </div>
    <a href="/login">Sair</a> <!-- ou outra rota se "Sair" for login ou logout -->
</div>

<!-- Conteúdo da página -->

</body>
</html>